@media (max-width: 1200px) and (min-height: 900px) {
  .photo-half-section-tools, .gray-half-section-tools, .client-contact-list, .client-contact-list-img {
    height: 80vh;
    max-height: 800px;
    padding: 4% 9%; }
  .text-under-img-section-tools {
    padding: 0 2%; }
  #section-tools, .section, .section-instagram {
    height: auto; }
  .outdoor-section {
    height: 75vh; } }

@media (max-width: 768px) {
  /*general*/
  h1 {
    font-size: 80px;
    line-height: 60px; }
  h2 {
    font-size: 42px;
    line-height: 42px;
    margin-left: 0; }
  h3 {
    font-size: 18px;
    line-height: 25px; }
  h6 {
    font-size: 12px; }
  /*general*/
  .hamburger-menu-banner-section {
    display: none; }
  .mobile-hamburger-menu-banner-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    width: 100%; }
  #section-contact, .section {
    height: auto; }
  #section-contact {
    min-height: auto; }
  .gray-half-section-tools, .outdoor-section__text, .client-contact-list {
    padding: 12% 10%; }
  .whole-text-section-about {
    padding: 12% 8% 0 8%; }
  #section-logos {
    padding: 7% 8% 3% 8%; }
  .client-contact-list {
    width: 100%; }
  #section-contact .row {
    display: block; }
  #section-tools .row {
    display: block; }
  .client-contact-list__center-arrow {
    text-align: center;
    padding: 20px 0 15px 0;
    width: 65px; }
  .client-contact-list__email--triangle-left {
    display: none; }
  .client-contact-list__email a {
    padding: 50px 0; }
  .client-contact-list-img {
    background-position: bottom;
    padding: 0;
    height: 30vh;
    width: 100%;
    min-height: 100px; }
  .whole-text-section-about {
    margin-left: 0;
    margin-top: 0; }
  #section-about .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  #section-about, #section-tools, .gray-half-section-tools, #section-logos {
    height: auto;
    overflow: hidden; }
  .img-photo-man-section-about {
    width: 100%;
    margin-top: -5%;
    padding: 0; }
  .text-bottom-section-about {
    margin-bottom: 0; }
  .now-section-about {
    margin-top: 10%; }
  .dots-block-section-banner {
    display: none; }
  .text-under-img-section-tools, .over-line-block {
    padding: 0; }
  .arrow-down-section-banner embed {
    width: 3%; }
  #menu {
    height: 140vh; }
  #first-section {
    overflow: initial; }
  .logo-client-list-bbc embed, .logo-client-list-ecco embed, .logo-client-list-nrs embed {
    min-width: 70px;
    max-width: 90px; }
  .logo-client-list embed {
    height: 55px; }
  .logo-client-list {
    padding: 0; }
  .job-section-about, .first-sentence-section-about, .aka-name-section-about, .jobs-section-about {
    text-align: center; }
  .job-text-center {
    font-size: 7px; }
  .section-instagram-followers a, .section-instagram-followers span {
    font-size: 16px; }
  .whole-text-left-logo {
    opacity: 1; }
  .photo-man-section-about {
    margin-left: 0; }
  .footer-client p {
    font-size: 11px; }
  .footer-client span, .lines-job-text-center {
    font-size: 14px; }
  .left-logo-banner-section {
    margin-top: 15px;
    margin-bottom: 10px; }
  #menuToggle-mobile {
    top: 0;
    margin-top: 18px; }
  #menuToggle-mobile span {
    width: 1.5vw;
    height: 3.5px;
    min-width: 27px; } }

@media (max-width: 450px) {
  .text-center-banner-section {
    height: 18vh;
    max-height: 140px;
    margin-bottom: 10%; }
  .video-references {
    max-height: 75%;
    min-width: 100%;
    max-width: 130%;
    min-height: auto; } }

@media (max-width: 450px) and (max-height: 737px) {
  .video-references {
    width: 100%; } }

@media (min-width: 501px) and (max-width: 600px) {
  .text-center-banner-section {
    height: 35vh; } }

@media (min-width: 451px) and (max-width: 500px) {
  .text-center-banner-section {
    max-height: 200px; } }

@media (max-width: 1024px) {
  .outdoor-section__text {
    top: 50%; }
  .text-near-dots {
    font-size: 0.75vw;
    width: 75%; }
  .text-dots-block {
    width: 100%; }
  .dot-section-banner {
    margin: 8px 0; } }

@media (max-width: 768px) {
  .outdoor-section {
    position: static;
    display: block;
    height: auto;
    background-color: #363531;
    margin-bottom: -5px; }
  .outdoor-section__text {
    width: 100%;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .outdoor-section__text--header h2 {
    text-align: center; }
  .outdoor-section__text--header h3 {
    text-align: center;
    margin: 0; }
  .outdoor-section__text--main {
    margin: 0 0px 10px 0px; }
  .section-outdoor-professional {
    position: static; }
  .outdoor-section-block {
    padding: 10% 0 0 0; }
  .outdoor-section-block button {
    padding: 0; }
  .outdoor-section__image {
    padding: 3% 5% 0 5%; }
  .section-instagram {
    height: auto; }
  .logo-client-list {
    margin: 10px 0;
    width: 50%;
    float: left;
    text-align: center; }
  #section-logos {
    display: block; }
  #first-section {
    min-height: auto; }
  .video-references {
    max-height: 160%; }
  #first-section, #section-banner {
    height: auto; }
  #section-banner {
    overflow: hidden; }
  .logo-client-list embed {
    min-width: 80px;
    max-width: 90px;
    min-height: 30px;
    max-height: 50px; }
  .under-line-block .img-under-line-block embed {
    min-width: 110px;
    max-width: 120px;
    height: 80px; }
  .video-section-cover {
    height: 60vw; }
  .section-outdoor-professional {
    min-height: auto; }
  .outdoor-section__image embed {
    width: 48%;
    height: 30px; }
  #arrow-skills {
    width: 4%;
    max-width: 20px; }
  .outdoor-section__image .numberCircle {
    width: 43%;
    height: 30px;
    font-size: 9px; }
  .client-contact-list__social--icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .client-contact-list__social embed {
    width: 40px;
    height: 25px; }
  .client-contact-list__social a {
    margin-right: 5px; }
  .client-contact-list__text p {
    margin-left: 5px; }
  .inner-content-section-banner {
    margin-top: 0; }
  .outdoor-section__text--main p {
    text-align: start; } }

@media (max-width: 600px) {
  #menuToggle {
    left: 0; }
  .left-logo-banner-section embed {
    width: 5vw;
    max-width: 20px; }
  .section-instagram__photo {
    width: 50%;
    height: 50vw; }
  .logo-client-list-discovery embed, .logo-client-list-gsk embed {
    min-width: 110px;
    max-width: 130px;
    height: 60vw; } }

@media (min-width: 1000px) and (max-width: 1100px) {
  #section-logos {
    padding: 0.5% 2% 0 2%; } }

@media (min-width: 769px) and (max-width: 880px) {
  .logo-client-list {
    padding: 0; } }

@media (min-width: 769px) and (max-width: 1200px) {
  .section-contact {
    height: auto; }
  .outdoor-section__text {
    width: 50%; }
  .section-outdoor-professional {
    width: initial; }
  .dots-block-section-banner {
    padding-right: 4.7%; }
  .client-contact-list__text p {
    margin-bottom: 10px; } }

@media (min-width: 601px) and (max-width: 767px) {
  .text-center-banner-section {
    height: 35vh;
    max-height: 255px; }
  .client-contact-list-img {
    height: 40vh; } }

@media (max-width: 800px) {
  #menuToggle {
    left: 0; } }

@media (min-width: 769px) and (max-width: 999px) {
  .img-photo-man-section-about {
    width: 100%; }
  .photo-man-section-about {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-left: 0; }
  #first-section, #section-banner {
    height: auto; } }

@media (min-width: 768px) and (max-width: 1000px) {
  #section-contact, .gray-half-section-tools {
    height: auto; }
  h1 {
    font-size: 92px; }
  .arrow-down-section-banner {
    margin-bottom: 1%; } }

@media (min-width: 769px) and (max-width: 1000px) {
  .logo-client-list embed {
    min-width: 80px;
    max-width: 90px;
    min-height: 30px;
    max-height: 40px; }
  .logo-client-list-bbc embed, .logo-client-list-ecco embed, .logo-client-list-nrs embed {
    min-width: 73px;
    max-width: 80px; }
  #section-tools, .section {
    height: auto; }
  .whole-text-section-about {
    margin-top: 0;
    padding: 0; }
  #section-about .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .now-section-about, .tittle-section-about-margin {
    margin-top: 10%; }
  .whole-text-section-about {
    width: 100%;
    padding: 5% 15% 0 15%; }
  .photo-man-section-about {
    padding: 0 10%; }
  .outdoor-section {
    height: 75vh;
    max-height: 800px; }
  .video-references, .section-outdoor-professional {
    max-height: 800px; } }

@media (min-width: 1000px) and (max-width: 1200px) {
  .img-photo-man-section-about {
    width: 190%;
    margin-top: -5%; }
  #section-contact, .client-contact-list-img {
    height: auto; }
  .photo-man-section-about {
    margin: 0 50px; }
  .job-section-about {
    font-size: 55px; }
  .whole-text-section-about {
    margin-top: 5%;
    padding: 0 20px 0 60px; }
  .logo-client-list embed {
    min-width: 115px;
    max-width: 125px;
    min-height: 32px;
    max-height: 50px; }
  .logo-client-list-bbc embed, .logo-client-list-ecco embed, .logo-client-list-nrs embed {
    min-width: 90px;
    max-width: 100px; }
  .logo-client-list-discovery {
    max-width: 145px; }
  #section-tools, .section-instagram {
    height: auto; } }

@media (min-width: 451px) and (max-width: 768px) {
  .logo-client-list embed {
    min-width: 90px;
    max-width: 100px;
    min-height: 40px;
    max-height: 50px; }
  .logo-client-list-discovery embed {
    min-width: 110px;
    max-width: 130px; }
  .video-references {
    min-height: 50vh; } }

@media (min-width: 1200px) and (max-width: 1600px) {
  .outdoor-section {
    min-height: 670px;
    max-height: 900px; } }

@media (max-width: 768px) and (orientation: landscape) {
  .text-center-banner-section {
    height: 100vh; }
  .client-contact-list-img {
    height: 60vh; }
  .photo-half-section-tools {
    height: 100vh; } }

@media (max-width: 600px) and (orientation: landscape) {
  .text-center-banner-section, .client-contact-list-img {
    height: 65vh; } }

@media (max-width: 1000px) {
  p {
    font-size: 12px;
    line-height: 20px; }
  .first-sentence-section-about, .tittle-section-about {
    font-size: 12px; }
  .aka-name-section-about {
    font-size: 9px;
    line-height: 21px; }
  .jobs-section-about, .tittles-section-tools {
    font-size: 15px;
    line-height: 20px; }
  .text-left-logo {
    font-size: 10px;
    line-height: 11px; }
  .client-contact-list__text p, .client-contact-list__quote p {
    font-size: 15px; }
  .client-contact-list__email a {
    font-size: 20px; }
  .client-contact-list__social span, .client-contact-list__social--icon.audio a, .client-contact-list__social a {
    font-size: 10px; }
  .text-over-progress h6 {
    font-size: 11px;
    margin-bottom: 6px; }
  .progress-line {
    height: 7px; } }

@media (min-width: 2000px) {
  .text-left-logo {
    font-size: 0.6vw; }
  .img-photo-man-section-about {
    width: 130%;
    margin-right: 1vw; } }

@media (max-width: 767px) {
  .photo-half-section-tools {
    height: 50vh;
    min-height: 350px; } }
