@media (max-width: 1200px) and (min-height: 900px) {
  .photo-half-section-tools, .gray-half-section-tools, .client-contact-list, .client-contact-list-img {
    height: 80vh;
    max-height: 800px;
    padding: 4% 9%; }
  .text-under-img-section-tools {
    padding: 0 2%; }
  #section-tools, .section, .section-instagram {
    height: auto; }
  .outdoor-section {
    height: 75vh; } }

@media (max-width: 768px) {
  /*general*/
  h1 {
    font-size: 80px;
    line-height: 60px; }
  h2 {
    font-size: 42px;
    line-height: 42px;
    margin-left: 0; }
  h3 {
    font-size: 18px;
    line-height: 25px; }
  h6 {
    font-size: 12px; }
  /*general*/
  .hamburger-menu-banner-section {
    display: none; }
  .mobile-hamburger-menu-banner-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    width: 100%; }
  #section-contact, .section {
    height: auto; }
  #section-contact {
    min-height: auto; }
  .gray-half-section-tools, .outdoor-section__text, .client-contact-list {
    padding: 12% 10%; }
  .whole-text-section-about {
    padding: 12% 8% 0 8%; }
  #section-logos {
    padding: 7% 8% 3% 8%; }
  .client-contact-list {
    width: 100%; }
  #section-contact .row {
    display: block; }
  #section-tools .row {
    display: block; }
  .client-contact-list__center-arrow {
    text-align: center;
    padding: 20px 0 15px 0;
    width: 10%; }
  .client-contact-list__email--triangle-left {
    display: none; }
  .client-contact-list__email a {
    padding: 50px 0; }
  .client-contact-list-img {
    background-position: bottom;
    padding: 0;
    height: 30vh;
    width: 100%;
    min-height: 100px; }
  .whole-text-section-about {
    margin-left: 0;
    margin-top: 0; }
  #section-about .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  #section-about, #section-tools, .gray-half-section-tools, #section-logos {
    height: auto;
    overflow: hidden; }
  .img-photo-man-section-about {
    width: 100%;
    margin-top: -5%;
    padding: 0; }
  .text-bottom-section-about {
    margin-bottom: 0; }
  .now-section-about {
    margin-top: 10%; }
  .text-under-img-section-tools, .over-line-block {
    padding: 0; }
  .arrow-down-section-banner embed {
    width: 3%;
    min-width: 12px;
    max-width: 15px; }
  #menu {
    height: 140vh; }
  #first-section {
    overflow: initial; }
  .logo-client-list-bbc embed, .logo-client-list-ecco embed, .logo-client-list-nrs embed {
    min-width: 70px;
    max-width: 90px; }
  .logo-client-list embed {
    height: 55px; }
  .logo-client-list {
    padding: 0; }
  .job-section-about, .first-sentence-section-about, .aka-name-section-about, .jobs-section-about {
    text-align: center; }
  .job-text-center {
    font-size: 7px;
    z-index: 10; }
  .section-instagram-followers a, .section-instagram-followers span {
    font-size: 16px; }
  .photo-man-section-about {
    margin-left: 0; }
  .footer-client p {
    font-size: 11px; }
  .footer-client span, .lines-job-text-center {
    font-size: 14px;
    line-height: 30px;
    z-index: 1; }
  .left-logo-banner-section {
    margin-top: 15px;
    margin-bottom: 10px; }
  #menuToggle-mobile {
    right: 0;
    top: 0;
    margin-top: 4%;
    margin-right: 4%; }
  #menuToggle-mobile span {
    width: 25px;
    height: 3px;
    margin-bottom: 15%;
    min-width: initial;
    max-width: initial; }
  .inner-content-section-banner {
    margin-top: 0; }
  .footer-section img {
    width: 6vw;
    padding: 0 0 2vw 0; }
  .text-left-logo {
    font-size: 7px;
    line-height: 7px; }
  .dots-block-section-banner {
    height: 75vh;
    margin-top: 15vh;
    padding-right: 5.3%; }
  #menu-mobile {
    height: 120vh; }
  #menuToggle-mobile input {
    width: 5vw;
    height: 5vh;
    left: -0.3vw; }
  .left-logo-banner-section {
    margin-top: 2%;
    margin-left: 8%; }
  .inner-content-section-banner-fixed {
    margin: 0;
    top: 10px;
    width: 50%; }
  .img-under-line-block {
    height: 18vw; }
  .dots-block-section-banner {
    pointer-events: none;
    display: none; }
  .opened--menu .dots-block-section-banner {
    pointer-events: initial;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .left-logo-banner-section embed {
    width: 4vw;
    max-width: 14px; }
  .left-logo-banner-section .whole-text-left-logo {
    -webkit-animation: fadein 1s;
            animation: fadein 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  .icon-dji-mobile, .icon-movi-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    opacity: 1;
    color: white;
    padding: 3% 10%; }
  .under-line-block-dji, .under-line-block-movi {
    display: block; }
  .icon-movi-mobile {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .icon-movi-mobile {
    margin-top: 4%; }
  .photo-half-section-tools-dji, .photo-half-section-tools-movi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 450px) {
  .text-center-banner-section {
    max-height: 175px; }
  .inner-content-section-banner-fixed {
    margin: 0;
    top: 10px;
    width: 50%; }
  .video-references {
    max-height: 75%;
    min-width: 100%;
    max-width: 130%;
    min-height: auto; }
  .footer-client p {
    font-size: 9px; }
  .footer-client span {
    font-size: 12px;
    line-height: 25px; }
  .img-under-line-block {
    height: 25vw; }
  .under-line-block embed {
    width: 3.2%; }
  .client-contact-list__center-arrow embed {
    width: 2.7vw; }
  .client-contact-list__center-arrow {
    width: 20%; } }

@media (max-width: 450px) and (max-height: 737px) {
  .video-references {
    width: 100%; } }

@media (min-width: 501px) and (max-width: 600px) {
  .text-center-banner-section {
    height: 35vh; } }

@media (min-width: 451px) and (max-width: 500px) {
  .text-center-banner-section {
    max-height: 200px; } }

@media (max-width: 1024px) {
  .outdoor-section__text {
    top: 50%; }
  .text-dots-block {
    width: 270%; }
  .dot-section-banner {
    margin: 8px 0; }
  .section-instagram-followers a {
    line-height: 1.5vw; }
  .arrow-down-section-banner {
    margin-left: 0; } }

@media (max-width: 768px) {
  .outdoor-section {
    position: static;
    display: block;
    height: auto;
    background-color: #363531;
    margin-bottom: -5px; }
  .outdoor-section__text {
    width: 100%;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .outdoor-section__text--header h2 {
    text-align: center; }
  .outdoor-section__text--header h3 {
    text-align: center;
    margin: 0; }
  .outdoor-section__text--main {
    margin: 0 0px 10px 0px; }
  .section-outdoor-professional {
    position: static; }
  .outdoor-section-block button {
    padding: 0; }
  .outdoor-section__image {
    padding: 3% 5% 0 5%; }
  .section-instagram {
    height: auto; }
  .logo-client-list {
    margin: 10px 0;
    width: 50%;
    float: left;
    text-align: center; }
  #section-logos {
    display: block; }
  #first-section {
    min-height: auto; }
  .video-references {
    max-height: 160%;
    z-index: 1; }
  #first-section, #section-banner {
    height: auto;
    z-index: auto; }
  #section-banner {
    overflow: hidden; }
  .logo-client-list embed {
    min-width: 80px;
    max-width: 90px;
    min-height: 30px;
    max-height: 50px; }
  .under-line-block .img-under-line-block embed {
    min-width: 110px;
    max-width: 120px;
    height: 80px; }
  .video-section-cover {
    height: 60vw; }
  .section-outdoor-professional {
    min-height: auto; }
  .outdoor-section__image embed {
    width: 48%;
    height: 30px; }
  #arrow-skills {
    width: 3%;
    max-width: 20px; }
  .outdoor-section__image .numberCircle {
    width: 35px;
    height: 35px;
    font-size: 10px; }
  .client-contact-list__social--icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px; }
  .client-contact-list__social embed, .client-contact-list__social--icon.telephone embed, .client-contact-list__social--icon.instagram embed, .client-contact-list__social--icon.audio embed {
    width: 4vw;
    height: 25px; }
  .client-contact-list__social--icon.audio embed {
    height: 18px; }
  .client-contact-list__img {
    margin-right: 4%; }
  .client-contact-list__text p {
    margin-left: 5px; }
  .inner-content-section-banner {
    margin-top: 0; }
  .outdoor-section__text--main p {
    text-align: start; }
  .section-instagram-followers a {
    line-height: 3vw; }
  .dot-section-banner {
    width: 5px;
    height: 5px;
    min-width: initial;
    max-width: initial; }
  .text-near-dots {
    font-size: 7px;
    width: 70%; }
  .arrow-down-icon {
    padding: 0 2vw 0.8vw 0; }
  .section-instagram-followers {
    margin-top: 7%;
    margin-bottom: 8%; } }

@media (max-width: 600px) {
  .section-instagram__photo {
    width: 50%;
    height: 50vw; }
  .logo-client-list-discovery embed, .logo-client-list-gsk embed {
    min-width: 110px;
    max-width: 130px;
    height: 60vw; }
  .section-instagram-followers a {
    line-height: 5vw; } }

@media (min-width: 1000px) and (max-width: 1100px) {
  #section-logos {
    padding: 0.5% 2% 0 2%; } }

@media (min-width: 769px) and (max-width: 1200px) {
  .section-contact {
    height: auto; }
  .outdoor-section__text {
    width: 40%; }
  .section-outdoor-professional {
    width: initial; }
  .dots-block-section-banner {
    padding-right: 4.7%; }
  .client-contact-list__text p {
    margin-bottom: 10px; }
  .left-logo-banner-section embed {
    max-width: 3.2%; } }

@media (min-width: 601px) and (max-width: 767px) {
  .text-center-banner-section {
    height: 35vh;
    max-height: 275px; }
  .client-contact-list-img {
    height: 40vh; }
  .client-contact-list__social embed, .client-contact-list__social--icon.telephone embed, .client-contact-list__social--icon.instagram embed, .client-contact-list__social--icon.audio embed {
    width: 3vw; } }

@media (min-width: 769px) and (max-width: 999px) {
  .img-photo-man-section-about {
    width: 100%; }
  .photo-man-section-about {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-left: 0; }
  #first-section, #section-banner {
    height: auto; }
  .client-contact-list__img embed, .client-contact-list__social--icon.instagram embed, .client-contact-list__social--icon.telephone embed {
    height: 1.65vw; } }

@media (min-width: 768px) and (max-width: 1000px) {
  #section-contact, .gray-half-section-tools {
    height: auto; }
  h1 {
    font-size: 92px; }
  .arrow-down-section-banner {
    margin-bottom: 1%; }
  .footer-client p {
    font-size: 8px; }
  .text-near-dots {
    font-size: 0.9vw; }
  .dot-section-banner {
    width: 0.5vw;
    height: 0.5vw; } }

@media (min-width: 769px) and (max-width: 1000px) {
  .logo-client-list embed {
    min-width: 80px;
    max-width: 90px;
    min-height: 30px;
    max-height: 40px; }
  .logo-client-list-bbc embed, .logo-client-list-ecco embed, .logo-client-list-nrs embed {
    min-width: 73px;
    max-width: 80px; }
  #section-tools, .section {
    height: auto; }
  .whole-text-section-about {
    margin-top: 0;
    padding: 0; }
  #section-about .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .now-section-about, .tittle-section-about-margin {
    margin-top: 10%; }
  .whole-text-section-about {
    width: 100%;
    padding: 5% 15% 0 15%; }
  .photo-man-section-about {
    padding: 0 10%; }
  .outdoor-section {
    height: 75vh;
    max-height: 800px; }
  .video-references, .section-outdoor-professional {
    max-height: 800px; }
  #menuToggle span, .opened--menu #menuToggle span {
    width: 2.4vw;
    max-width: 2.5vw;
    height: 0.5vh; }
  .bar1, .bar2, .bar3 {
    width: 3vw;
    max-width: 3vw;
    height: 0.5vh; }
  .change .bar1, .change .bar2, .change .bar3 {
    margin: 1% 0; }
  .gray-half-section-tools {
    padding: 0 4% 0 5%; } }

@media (min-width: 1000px) and (max-width: 1200px) {
  .img-photo-man-section-about {
    width: 190%;
    margin-top: -5%; }
  #section-contact, .client-contact-list-img {
    height: auto; }
  .photo-man-section-about {
    margin: 0 50px; }
  .job-section-about {
    font-size: 55px; }
  .whole-text-section-about {
    margin-top: 5%;
    padding: 0 20px 0 60px; }
  .logo-client-list embed {
    min-width: 115px;
    max-width: 125px;
    min-height: 32px;
    max-height: 50px; }
  .logo-client-list-bbc embed, .logo-client-list-ecco embed, .logo-client-list-nrs embed {
    min-width: 90px;
    max-width: 100px; }
  .logo-client-list-discovery {
    max-width: 145px; }
  #section-tools, .section-instagram {
    height: auto; }
  .footer-client p {
    font-size: 0.75vw; }
  .text-near-dots {
    font-size: 0.7vw; } }

@media (min-width: 1000px) and (max-width: 1250px) {
  #menuToggle span, .bar1, .bar2, .bar3, .opened--menu #menuToggle span {
    width: 2vw;
    min-width: 2vw;
    max-width: 2.2vw; } }

@media (min-width: 451px) and (max-width: 768px) {
  .logo-client-list embed {
    min-width: 90px;
    max-width: 100px;
    min-height: 40px;
    max-height: 50px; }
  .logo-client-list-discovery embed {
    min-width: 110px;
    max-width: 130px; }
  .video-references {
    min-height: 50vh; }
  .dot-section-banner {
    width: 4.5px;
    height: 4.5px; }
  .client-contact-list__center-arrow embed {
    width: 2vw; } }

@media (max-width: 768px) and (orientation: landscape) {
  .text-center-banner-section {
    height: 100vh; }
  .client-contact-list-img {
    height: 60vh; }
  .photo-half-section-tools {
    height: 100vh; }
  .section-instagram__photo {
    width: 24.67%;
    height: 24.67vw; }
  #arrow-skills {
    width: 2.1%;
    max-width: 20px; } }

@media (max-width: 600px) and (orientation: landscape) {
  .text-center-banner-section, .client-contact-list-img {
    height: 65vh; }
  .section-instagram__photo {
    width: 33%;
    height: 33vw; } }

@media (max-width: 1000px) {
  p {
    font-size: 12px;
    line-height: 20px; }
  .first-sentence-section-about, .tittle-section-about {
    font-size: 12px; }
  .aka-name-section-about {
    font-size: 9px;
    line-height: 21px; }
  .jobs-section-about, .tittles-section-tools {
    font-size: 15px;
    line-height: 20px; }
  .client-contact-list__text p, .client-contact-list__quote p {
    font-size: 15px; }
  .client-contact-list__text p {
    line-height: 20px; }
  .client-contact-list__email a {
    font-size: 20px; }
  .client-contact-list__social span, .client-contact-list__social--icon.audio a, .client-contact-list__social a {
    font-size: 10px; }
  .text-over-progress h6 {
    font-size: 11px;
    margin-bottom: 6px; }
  .progress-line {
    height: 7px; }
  .text-under-tittles-section-tools, .outdoor-section__image p {
    font-size: 11px;
    line-height: 19px; }
  .text-under-img-section-tools {
    font-size: 10px; }
  .outdoor-section__image .numberCircle {
    border: 1.5px #f0f2f2 solid; }
  .section-instagram__photo embed {
    width: 4vw; }
  .hover-location .location {
    width: 4vw;
    height: 3vw;
    margin-bottom: 2vw; }
  .hover-location {
    text-align: center; } }

@media (min-width: 2000px) {
  .text-left-logo {
    font-size: 0.6vw; }
  .img-photo-man-section-about {
    width: 140%;
    margin-right: 1vw; }
  .gray-half-section-tools {
    display: block;
    padding: 14% 9% 8% 9%; }
  .opened--menu #menuToggle span {
    width: 1.6vw;
    min-width: 1.4vw;
    max-width: 1.6vw; }
  #menuToggle span, .bar1, .bar2, .bar3 {
    width: 1.5vw;
    min-width: 1.4vw;
    max-width: 1.5vw;
    height: 0.5vh; }
  .hamburger-menu-banner-section.animation {
    padding-top: 0.3%; }
  .change .bar1, .change .bar2, .change .bar3 {
    margin: 0.3% 0; } }

@media (max-width: 767px) {
  .photo-half-section-tools {
    height: 50vh;
    min-height: 350px; } }

@media (min-width: 1550px) and (max-width: 1999px) {
  #menuToggle span, .bar1, .bar2, .bar3 {
    width: 1.7vw;
    min-width: 1.7vw;
    max-width: 2vw; }
  .opened--menu #menuToggle span {
    width: 1.5vw;
    min-width: 1.5vw;
    max-width: 1.8vw; }
  .hamburger-menu-banner-section.animation {
    padding-top: 0.35%; } }

@media (max-width: 320px) {
  #menuToggle-mobile span {
    width: 20px;
    height: 3px; }
  .hover-location span {
    font-size: 11px; }
  .arrow-down-icon {
    padding: auto; } }

@media (min-width: 769px) and (max-width: 880px) {
  .logo-client-list {
    padding: 0; }
  .under-line-block embed {
    width: 3.2%; }
  #menuToggle span, .opened--menu #menuToggle span {
    width: 2.9vw;
    max-width: 2.9vw;
    height: 0.5vh; } }

@media (min-height: 1450px) {
  .section-outdoor-professional {
    width: auto; } }

@media (min-width: 601px) and (max-width: 1000px) {
  .section-instagram__photo {
    width: 24.67%;
    height: 24.67vw; }
  .section-instagram__photo embed {
    width: 3vw; }
  .hover-location .location {
    height: 2vw;
    margin-bottom: 1.5vw; } }
