@media (max-width: 1200px) and (min-height: 900px) {
  .photo-half-section-tools, .gray-half-section-tools, .client-contact-list, .client-contact-list-img {
    height: 80vh;
    max-height: 800px;
    padding: 4% 9%; }
  .text-under-img-section-tools {
    padding: 0 2%; }
  #section-tools, .section, .section-instagram {
    height: auto; }
  .outdoor-section {
    height: 75vh; } }

@media (max-width: 768px) {
  /*general*/
  h1 {
    font-size: 80px;
    line-height: 60px; }
  h2 {
    font-size: 42px;
    line-height: 42px; }
  h3 {
    font-size: 18px;
    line-height: 25px; }
  /*general*/
  #section-contact, .section {
    height: auto; }
  .gray-half-section-tools, .outdoor-section__text, .client-contact-list {
    padding: 12% 10%; }
  .whole-text-section-about {
    padding: 12% 8% 0 8%; }
  #section-logos {
    padding: 7% 8% 3% 8%; }
  .client-contact-list {
    width: 100%; }
  #section-contact .row {
    display: block; }
  .client-contact-list__center-arrow {
    text-align: center;
    padding: 20px 0 15px 0;
    width: 65px; }
  .client-contact-list__email--triangle-left {
    display: none; }
  .client-contact-list__email a {
    padding: 50px 0; }
  .client-contact-list-img {
    background-position: bottom;
    padding: 0;
    height: 30vh;
    width: 100%; }
  .whole-text-section-about {
    margin-left: 0;
    margin-top: 0; }
  #section-about .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  #section-about, #section-tools, .gray-half-section-tools, #section-logos {
    height: auto;
    overflow: hidden; }
  .img-photo-man-section-about {
    width: 100%;
    margin-top: -5%;
    padding: 0; }
  .text-bottom-section-about {
    margin-bottom: 0; }
  .now-section-about {
    margin-top: 5%; }
  .dots-block-section-banner {
    display: none; }
  .text-under-img-section-tools, .over-line-block {
    padding: 0; }
  .arrow-down-section-banner embed {
    width: 3%; }
  #menu {
    height: 140vh; }
  #first-section {
    overflow: initial; }
  .logo-client-list-bbc embed, .logo-client-list-ecco embed, .logo-client-list-nrs embed {
    min-width: 70px;
    max-width: 90px; }
  .logo-client-list embed {
    width: 110px; }
  .logo-client-list embed {
    height: 50px; }
  .logo-client-list {
    padding: 0; }
  .job-section-about, .first-sentence-section-about, .aka-name-section-about, .jobs-section-about {
    text-align: center; }
  .job-text-center {
    font-size: 7px; }
  .photo-half-section-tools {
    height: 50vh; } }

@media (max-width: 450px) {
  .text-center-banner-section {
    height: 17vh;
    max-height: 140px;
    margin-bottom: 10%; }
  .video-references {
    min-height: 32vh;
    max-height: 75%; } }

@media (max-width: 390px) {
  .text-center-banner-section {
    max-height: 95px; } }

@media (min-width: 501px) and (max-width: 600px) {
  .text-center-banner-section {
    height: 47vh; } }

@media (min-width: 451px) and (max-width: 500px) {
  .text-center-banner-section {
    max-height: 270px; } }

@media (max-width: 1024px) {
  .outdoor-section__text {
    top: 50%; } }

@media (max-width: 768px) {
  .outdoor-section {
    position: static;
    display: block;
    height: auto;
    background-color: #363531;
    margin-bottom: -5px; }
  .outdoor-section__text {
    width: 100%;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .outdoor-section__text--header h2 {
    text-align: center; }
  .outdoor-section__text--header h3 {
    text-align: center;
    margin: 0; }
  .outdoor-section__text--main {
    margin: 0 0px 10px 0px; }
  .section-outdoor-professional {
    position: static; }
  .outdoor-section-block {
    padding: 10% 0 0 0; }
  .outdoor-section-block button {
    padding: 0; }
  .outdoor-section__image {
    padding: 3% 5% 0 5%; }
  .section-instagram {
    height: auto; }
  .logo-client-list {
    margin: 10px 0;
    width: 50%;
    float: left;
    text-align: center; }
  #section-logos {
    display: block; }
  #first-section {
    min-height: auto; }
  .video-references {
    max-height: 150%; }
  #first-section, #section-banner {
    height: auto; } }

@media (max-width: 600px) {
  #menuToggle {
    left: 0; }
  .left-logo-banner-section embed {
    width: 12%; } }

@media (min-width: 1000px) and (max-width: 1100px) {
  #section-logos {
    padding: 1% 0 0 0; } }

@media (min-width: 769px) and (max-width: 880px) {
  #section-logos {
    padding: 1% 0 0 0; }
  .logo-client-list {
    padding: 0; } }

@media (min-width: 769px) and (max-width: 1200px) {
  .section-contact {
    height: auto; }
  .outdoor-section__text {
    width: 50%; }
  .section-outdoor-professional {
    width: initial; } }

@media (min-width: 601px) and (max-width: 767px) {
  .logo-client-list embed {
    width: 55px;
    height: 50px; }
  .text-center-banner-section {
    height: 35vh;
    max-height: 255px; }
  .client-contact-list-img {
    height: 40vh; } }

@media (max-width: 800px) {
  #menuToggle {
    left: 0; } }

@media (min-width: 769px) and (max-width: 1000px) {
  .photo-man-section-about, .whole-text-section-about {
    width: 45%; }
  .photo-man-section-about {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .whole-text-section-about {
    margin-left: 60px; }
  #first-section, #section-banner {
    height: auto; } }

@media (min-width: 768px) and (max-width: 1000px) {
  #section-contact, .gray-half-section-tools {
    height: auto; }
  .logo-client-list embed {
    width: 90px; }
  .text-center-banner-section, .dots-block-section-banner {
    height: 345px; }
  h1 {
    font-size: 92px; }
  h2 {
    font-size: 40px; }
  .arrow-down-section-banner {
    margin-bottom: 1%; } }

@media (min-width: 769px) and (max-width: 1000px) {
  .logo-client-list embed {
    min-width: 80px;
    max-width: 90px;
    min-height: 30px;
    max-height: 40px; }
  .logo-client-list-bbc embed, .logo-client-list-ecco embed, .logo-client-list-nrs embed {
    min-width: 73px;
    max-width: 80px; }
  #section-tools, .section {
    height: auto; }
  .whole-text-section-about {
    margin-top: 0;
    padding: 0; }
  .text-near-dots {
    width: 60%; }
  .dots-block-section-banner {
    width: 17%;
    margin-top: 8%; }
  .text-dots-block {
    width: 40%; }
  #section-about .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  #section-about {
    padding-top: 3%; }
  .now-section-about, .tittle-section-about-margin {
    margin-top: 10%; }
  .whole-text-section-about {
    width: 100%;
    padding: 0 10%; }
  .photo-man-section-about {
    width: 75%;
    padding: 0 10%; }
  .outdoor-section {
    height: 75vh;
    max-height: 800px; }
  .video-references, .section-outdoor-professional {
    max-height: 800px; } }

@media (min-width: 1000px) and (max-width: 1200px) {
  .img-photo-man-section-about {
    width: 190%;
    margin-top: -5%; }
  #section-contact, .client-contact-list-img {
    height: auto; }
  .photo-man-section-about {
    margin: 0 50px; }
  .job-section-about {
    font-size: 55px; }
  .whole-text-section-about {
    margin-top: 5%;
    padding: 0 20px 0 60px; }
  .logo-client-list embed {
    min-width: 115px;
    max-width: 125px;
    min-height: 32px;
    max-height: 50px; }
  .logo-client-list-bbc embed, .logo-client-list-ecco embed, .logo-client-list-nrs embed {
    min-width: 90px;
    max-width: 100px; }
  #section-tools, .section-instagram {
    height: auto; }
  .text-near-dots {
    width: 50%; }
  .dots-block-section-banner {
    width: 17%; } }

@media (min-width: 1200px) and (max-width: 1600px) {
  .outdoor-section {
    min-height: 670px;
    max-height: 900px; } }

@media (max-width: 768px) and (orientation: landscape) {
  .text-center-banner-section {
    height: 100vh; }
  .client-contact-list-img {
    height: 60vh; }
  .photo-half-section-tools {
    height: 100vh; } }

@media (max-width: 600px) and (orientation: landscape) {
  .text-center-banner-section, .client-contact-list-img {
    height: 65vh; } }

@media (min-width: 2500px) {
  .section-instagram__photo {
    width: 25.2vw;
    height: 25vw; } }
