/*media query*/
@media (max-width: 768px) {
  /*general*/
  h1 {
    font-size: 80px;
    line-height: 60px; }
  h2 {
    font-size: 42px;
    line-height: 42px; }
  h3 {
    font-size: 18px;
    line-height: 25px; }
  /*general*/
  #section-contact {
    height: auto; }

  .whole-text-section-about, .gray-half-section-tools {
    padding: 5% 8%; }
  #section-logos {
    padding: 2% 8% 0 8%; }

  .client-contact-list {
    padding: 5% 8%;
    width: 100%; }
  #section-contact .row {
    display: block; }
  .client-contact-list__center-arrow {
    text-align: center;
    padding: 20px 0 15px 0;
    width: 65px; }
  .client-contact-list__email--triangle-left {
    display: none; }
  .client-contact-list__email a {
    padding: 50px 0; }
  .client-contact-list-img {
    background-position: bottom;
    padding: 0;
    height: 30vh;
    width: 100%; }
  .whole-text-section-about {
    margin-left: 0;
    margin-top: 0; }
  #section-about .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  #section-about, #section-tools, .gray-half-section-tools, #section-logos {
    height: auto;
    overflow: hidden; }
  .img-photo-man-section-about {
    width: 100%;
    margin-top: -5%;
    padding: 0; }
  .text-bottom-section-about {
    margin-bottom: 0; }
  .now-section-about {
    margin-top: 5%; }
  .dots-block-section-banner {
    display: none; }
  .arrow-down-section-banner {
    margin-bottom: 0; }
  .text-under-img-section-tools, .over-line-block {
    padding: 0; }
  .photo-half-section-tools {
    height: 50vh; }
  .arrow-down-section-banner embed {
    width: 4%; }
  #menu {
    height: 140vh; }
  #first-section, #section-banner {
    overflow: initial; }
  .logo-client-list-bbc embed, .logo-client-list-ecco embed, .logo-client-list-nrs embed {
    min-width: 70px;
    max-width: 90px; }
  .logo-client-list embed {
    width: 110px; }
  .logo-client-list embed {
    height: 50px; }
  .logo-client-list {
    padding: 0; } }

/*media query*/
/*media query*/
@media (max-width: 450px) {
  .text-center-banner-section {
    height: 17vh; } }

@media (min-width: 450px) and (max-width: 600px) {
  .text-center-banner-section {
    height: 22vh; } }

@media (max-width: 768px) {
  .outdoor-section {
    position: static;
    display: block;
    height: auto;
    background-color: #363531; }
  .outdoor-section__text {
    padding: 5% 8%;
    width: 100%;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .outdoor-section__text--header h2 {
    text-align: center; }
  .outdoor-section__text--header h3 {
    text-align: center;
    margin: 0; }
  .outdoor-section__text--main {
    margin: 0 0px 10px 0px; }
  .section-outdoor-professional {
    position: static; }
  .outdoor-section-block {
    padding: 10% 0 0 0; }
  .outdoor-section-block button {
    padding: 0; }
  .outdoor-section__image {
    padding: 3% 5% 0 5%; }
  .section-instagram {
    height: auto; } }

@media (max-width: 1024px) {
  .outdoor-section__text {
    top: 50%; }
  #first-section {
    height: auto; } }

/*media query*/
@media (max-width: 600px) {
  #section-logos .row {
    display: block; }
  .logo-client-list {
    margin: 10px 0;
    width: 50%;
    float: left;
    text-align: center; }
  #menuToggle {
    left: 0; }
  .left-logo-banner-section embed {
    width: 12%; } }

@media (min-width: 768px) and (max-width: 1200px) {
  #section-about {
    height: auto; } }

@media (min-width: 601px) and (max-width: 767px) {
  .logo-client-list {
    width: 60%; }
  .logo-client-list embed {
    width: 55px;
    height: 50px; }
  .text-center-banner-section {
    height: 35vh; } }

@media (max-width: 800px) {
  #menuToggle {
    left: 0; } }

@media (min-width: 768px) and (max-width: 1000px) {
  .logo-client-list {
    width: 14%; }
  .logo-client-list embed {
    width: 90px; }
  .whole-text-section-about {
    margin-top: 0;
    padding: 0; }
  .img-photo-man-section-about {
    width: 250%; }
  .text-center-banner-section, .dots-block-section-banner {
    height: 43vh; } }

@media (min-width: 1000px) and (max-width: 1200px) {
  .img-photo-man-section-about {
    width: 260%;
    margin-top: -5%; }
  #first-section {
    height: auto; }
  .logo-client-list {
    width: 14%; }
  .whole-text-section-about {
    margin-left: 70px;
    margin-top: -10%;
    padding: 0 20px; } }
