/*media query*/
@media (max-width: 768px) {
  .client-contact-list {
    padding: 50px;
    width: 100%; }
  #section-contact .row {
    display: block; }
  .client-contact-list-img img {
    position: static; }
  .client-contact-list-img {
    width: 100%;
    position: static; }
  .client-contact-list__text span {
    line-height: 48px;
    font-size: 48pt; }
  .client-contact-list__quote::before {
    width: 50px; }
  .client-contact-list-img {
    background: none; }
  .whole-text-section-about {
    margin-left: 0;
    padding: 0 20px;
    margin-top: 0; }
  #section-about .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  #section-about {
    height: auto;
    overflow: hidden; }
  .img-photo-man-section-about {
    width: 100%;
    margin-top: -5%;
    padding: 0; }
  .text-bottom-section-about {
    margin-bottom: 0; }
  .now-section-about {
    margin-top: 5%; }
  .dots-block-section-banner {
    display: none; } }

/*media query*/
/*media query*/
@media (max-width: 768px) {
  .outdoor-section {
    position: static;
    display: block;
    height: auto; }
  .outdoor-section__text {
    width: 100%;
    padding: 15px;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    text-align: center; }
  .outdoor-section__text--header h2 {
    font-size: 48px;
    line-height: 48px; }
  .outdoor-section {
    background-color: #363531; }
  .section-outdoor-professional {
    position: static; }
  .outdoor-section__item {
    text-align: center; } }

@media (max-width: 1024px) {
  .outdoor-section__text {
    top: 50%; }
  #first-section {
    height: auto; } }

/*media query*/
@media (max-width: 600px) {
  #section-logos .row {
    display: block; }
  #section-logos {
    height: auto;
    padding: 20px; }
  .logo-client-list {
    margin: 10px 0;
    width: 50%;
    float: left;
    text-align: center; }
  .logo-client-list embed {
    width: 100px;
    height: 40px; }
  #menuToggle {
    left: 0; }
  .left-logo-banner-section embed {
    width: 12%; } }

@media (min-width: 768px) and (max-width: 1200px) {
  #section-about {
    height: auto; } }

@media (min-width: 601px) and (max-width: 767px) {
  .logo-client-list {
    width: 60%; }
  .logo-client-list embed {
    width: 55px;
    height: 50px; } }

@media (max-width: 800px) {
  #menuToggle {
    left: 0; } }

@media (min-width: 768px) and (max-width: 1000px) {
  .logo-client-list {
    width: 14%; }
  .logo-client-list embed {
    width: 90px; }
  .whole-text-section-about {
    margin-top: 0;
    padding: 0; }
  .img-photo-man-section-about {
    width: 250%; } }

@media (min-width: 1000px) and (max-width: 1200px) {
  .img-photo-man-section-about {
    width: 260%;
    margin-top: -5%; }
  #first-section {
    height: auto; }
  .logo-client-list {
    width: 14%; }
  .whole-text-section-about {
    margin-left: 70px;
    margin-top: -10%;
    padding: 0 20px; } }
