@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Light.ttf); }

/*SECTION BANNER*/
#section-banner {
  height: 100vh;
  background-image: url("../img/first-section/photo1.png");
  -webkit-background-size: cover;
          background-size: cover;
  overflow: hidden; }

.left-logo-banner-section embed {
  width: 4.5%; }

.text-center-banner-section {
  height: 83vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.job-text-center {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: snow;
  margin: 2px 5px;
  font-size: 9px;
  letter-spacing: 4px; }

.lines-job-text-center {
  font-family: "Montserrat", sans-serif;
  color: snow;
  font-size: 20px;
  font-weight: 300; }

.text-left-logo {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: snow;
  margin: 2px 0;
  font-size: 10px;
  letter-spacing: 4px; }

.surname-text-left-logo {
  opacity: 0.7;
  font-weight: 300; }

.left-logo-banner-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px; }

.whole-text-left-logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px; }

.hamburger-menu-banner-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.hamburger-menu-banner-section a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }

.hamburger-menu-banner-section a:hover {
  color: tomato; }

#menuToggle {
  display: block;
  position: relative;
  top: 35px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
      -ms-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  opacity: 0.55s ease; }

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%; }

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
      -ms-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
      -ms-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
      -ms-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px); }

#menu {
  opacity: 0;
  position: absolute;
  width: 400px;
  margin: -100px 0 0 -150px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none; }

/*SECTION BANNER*/
/*SECTION LOGOS*/
#section-logos {
  background-color: #363531;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 150px; }

#section-logos .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo-client-list embed {
  width: 120px;
  height: 50px; }

/*SECTION LOGOS*/
/*SECTION about*/
#section-about {
  height: 200vh;
  background-color: #eeeff1;
  color: #363531;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

#section-about .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.photo-man-section-about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 70px;
  padding-left: 0; }

.img-photo-man-section-about {
  width: 230%;
  margin-top: -30%; }

.whole-text-section-about {
  margin-left: 50px;
  margin-top: -10%;
  padding: 0 50px; }

.first-sentence-section-about {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5px; }

.job-section-about {
  font-weight: 700;
  font-size: 40px; }

.jobs-section-about {
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 3px;
  font-size: 12px; }

.now-section-about {
  font-weight: 600;
  margin-top: 17%;
  margin-bottom: 20px;
  line-height: 24px; }

.tittle-section-about {
  font-weight: 600;
  margin-top: 25px; }

.tittle-section-about-margin {
  margin-top: 17%; }

#section-about p {
  text-transform: initial;
  font-size: 12px;
  color: #4b4b56;
  font-family: ProximaNova;
  line-height: 20px; }

.aka-name-section-about {
  font-style: italic;
  font-size: 8px;
  font-family: ProximaNova;
  text-transform: initial;
  margin-bottom: 30px; }

.stuff-section-about {
  margin-top: 13%; }

.text-bottom-section-about {
  margin-bottom: 10%; }

.progress-bar {
  background: #8a8b8e;
  -webkit-border-radius: 0;
          border-radius: 0;
  height: 7px;
  width: 100%; }

.progress-bar:after {
  content: '';
  display: block;
  background: #2c2e31;
  height: 100%;
  -webkit-border-radius: 0;
          border-radius: 0; }

.progress-bar-94:after {
  width: 94%; }

.progress-bar-79:after {
  width: 79%; }

.progress-bar-87:after {
  width: 87%; }

.progress-bar-67:after {
  width: 67%; }

.progress-bar-82:after {
  width: 82%; }

.text-over-progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.text-over-progress h6 {
  font-weight: 700;
  font-size: 11px; }

.progress-section {
  margin-bottom: 20px; }

/*Outdoor section*/
.outdoor-section__text {
  width: 35%;
  text-align: right;
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 130px; }

.outdoor-section {
  position: relative; }

.outdoor-section img {
  width: 100%; }

.outdoor-section__text {
  font-family: "Montserrat", sans-serif;
  color: #ffffff; }

.outdoor-section__text--header {
  text-transform: uppercase; }

.outdoor-section__text--header h1 {
  font-size: 60px;
  line-height: 60px;
  margin: 0; }

.outdoor-section__text--header h4 {
  font-size: 20px;
  margin: 0; }

.outdoor-section__text--main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.outdoor-section__text--main p {
  margin: 20px 0px 10px 0px;
  font-size: 12px; }

.outdoor-section-block {
  text-align: center;
  padding-top: 30px; }

.outdoor-section-block a {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px; }

.outdoor-section__image::before {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "∨"; }

.outdoor-section__image img {
  width: 50px; }

.outdoor-section__image p {
  text-align: center; }

.outdoor-section {
  text-align: center; }

.outdoor-section__item {
  text-align: center; }

/*Outdoor section*/
/*section contact*/
#section-contact {
  overflow: hidden; }

#section-contact .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.client-contact-list-img img {
  position: absolute;
  bottom: 0px; }

.client-contact-list {
  background-color: #f0f2f6;
  width: 50%; }

.client-contact-list-img {
  background-color: #e7bf5d; }

.client-contact-list {
  font-family: "Montserrat", sans-serif;
  padding: 50px;
  text-transform: uppercase;
  font-weight: bold; }

.client-contact-list__text p {
  font-size: 12pt;
  margin: 4px; }

.client-contact-list__text span {
  line-height: 72px;
  font-size: 72pt;
  display: block;
  color: #363531; }

.client-contact-list__quote::before {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "∨";
  width: 70px;
  padding: 15px; }

.client-contact-list__quote p {
  margin: 4px;
  padding: 2px;
  font-size: 14px; }

.client-contact-list__social {
  padding-top: 15px; }

.client-contact-list__email {
  position: relative; }

.client-contact-list__email a {
  display: inline-block;
  padding: 50px 0px;
  color: #363531;
  text-transform: lowercase;
  letter-spacing: 1px;
  text-decoration: underline;
  font-size: 16pt; }

.client-contact-list__email--triangle-left {
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid #e7bf5d;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 55px;
  right: -75px; }

.client-contact-list__social a {
  font-size: 14px;
  text-decoration: underline;
  color: #363531; }

.client-contact-list__social--audio {
  margin: 0;
  font-size: 14px;
  text-transform: lowercase; }

.client-contact-list__social--audio a {
  text-transform: uppercase;
  letter-spacing: 1px; }

.client-contact-list__social--instagram a {
  text-transform: lowercase;
  letter-spacing: 1px; }

.client-contact-list__social img {
  padding: 5px 15px 5px 5px; }

.client-contact-list-img {
  width: 50%;
  position: relative;
  padding: 0; }

.client-contact-list-img img {
  width: 100%; }

/*section contact*/
/*media query*/
@media (max-width: 768px) {
  .client-contact-list {
    padding: 50px;
    width: 100%; }
  #section-contact .row {
    display: block; }
  .client-contact-list-img img {
    position: static; }
  .client-contact-list-img {
    width: 100%;
    position: static; }
  .client-contact-list__text span {
    line-height: 48px;
    font-size: 48pt; }
  .client-contact-list__quote::before {
    width: 50px; }
  .client-contact-list-img {
    background: none; }
  .whole-text-section-about {
    margin-left: 0;
    padding: 0 20px;
    margin-top: 0; }
  #section-about .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  #section-about {
    height: auto;
    overflow: hidden; }
  .img-photo-man-section-about {
    width: 200%;
    margin-top: -40%;
    padding: 0; }
  .text-bottom-section-about {
    margin-bottom: 0; }
  .now-section-about {
    margin-top: 5%; } }

/*media query*/
/*media query*/
@media (max-width: 768px) {
  .outdoor-section__text {
    width: 100%;
    padding: 15px;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    text-align: center; }
  .outdoor-section__text--header h1 {
    font-size: 48px;
    line-height: 48px; }
  .outdoor-section {
    background-color: #363531; }
  .outdoor-section__item {
    text-align: center; } }

@media (max-width: 1024px) {
  .outdoor-section__text {
    top: 50%; } }

/*media query*/
@media (max-width: 600px) {
  #section-logos .row {
    display: block; }
  #section-logos {
    height: auto;
    padding: 20px; }
  .logo-client-list {
    margin: 10px 0;
    width: 50%;
    float: left;
    text-align: center; }
  .logo-client-list embed {
    width: 100px;
    height: 40px; }
  #menuToggle {
    left: 0; }
  .left-logo-banner-section embed {
    width: 12%; } }

@media (min-width: 601px) and (max-width: 767px) {
  .logo-client-list {
    width: 60%; }
  .logo-client-list embed {
    width: 55px;
    height: 50px; } }

@media (max-width: 800px) {
  #menuToggle {
    left: 0; } }

@media (min-width: 768px) and (max-width: 1000px) {
  .logo-client-list {
    width: 14%; }
  .logo-client-list embed {
    width: 90px; }
  .whole-text-section-about {
    margin-top: 0;
    padding: 0; }
  .img-photo-man-section-about {
    width: 250%; } }

@media (min-width: 1000px) and (max-width: 1200px) {
  .img-photo-man-section-about {
    width: 260%;
    margin-top: -5%; }
  .logo-client-list {
    width: 14%; }
  .whole-text-section-about {
    margin-left: 70px;
    margin-top: -10%;
    padding: 0 20px; } }

/*footer*/
.footer-section {
  background-color: #363531;
  color: #ffffff; }

.footer-client {
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  font-family: "Montserrat", sans-serif; }

.footer-client p {
  font-size: 8pt;
  padding-top: 20px; }

.footer-client span {
  font-size: 16pt; }

.footer-section img {
  display: block;
  margin: 0 auto; }

/*footer*/
