@media (min-width: 768px) and (max-width: 1000px) and (orientation: portrait) {
  h3 {
    font-size: 2vw; }
  h2 {
    font-size: 5.3vw; }
  p {
    font-size: 2vw; }
  .job-text-center {
    font-size: 1.15vw; }
  .lines-job-text-center {
    font-size: 2vw; }
  .video-section-cover {
    height: auto; }
  .first-sentence-section-about, .tittle-section-about {
    font-size: 16px; }
  .text-under-img-section-tools, .outdoor-section__image p {
    font-size: 2.8vw; }
  .tittles-section-tools {
    margin-top: 1vw; }
  .text-under-img-section-tools, .outdoor-section__image p {
    font-size: 1.8vw;
    line-height: 2.8vw; }
  .section-outdoor-professional {
    min-height: initial;
    max-height: 500px; }
  .outdoor-section__text {
    padding: 16% 12% 2%; }
  p, .text-over-progress h6, .outdoor-section-block button span, .block-tools-section button span, .tools-section__image p, .text-under-tittles-section-tools {
    font-size: 2vw;
    line-height: 25px; }
  .outdoor-section hr {
    margin: .5% 0 0; }
    .outdoor-section hr .img-div-outdoor-section__icons {
      margin: 3% 0 6%; }
  .client-contact-list__social--icon.audio embed {
    height: 27px; }
  .client-contact-list__social embed {
    height: 21px; }
  .client-contact-list__social--icon.telephone embed, .client-contact-list__social--icon.instagram embed {
    height: 21px; }
  .client-contact-list__social span, .client-contact-list__social--icon.audio a, .client-contact-list__social a {
    font-size: 15px; }
  .client-contact-list__text p {
    font-size: 17px; }
  .client-contact-list__social--icon {
    margin-bottom: 1.5vw; } }

@media (min-width: 1000px) and (max-width: 1112px) {
  .left-logo-banner-section object {
    max-width: 3.2%; }
  .dots-block-section-banner {
    padding-right: 3.7%; }
  .text-near-dots {
    font-size: 13px;
    width: 70%; }
  .text-dots-block {
    width: 170%;
    margin-bottom: 10%; }
  .dot-section-banner {
    width: 5.5px;
    height: 5.5px; }
  #menu {
    margin: -10vw 0 0 -20vw; }
  #section-tools .hr-tablet {
    margin: 0; }
  .icon-dji, .icon-movi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 0; }
  .under-line-block {
    -webkit-box-align: end;
    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end; }
  #arrow-tools-tablet {
    position: relative;
    width: .9vw;
    margin-top: .5vh;
    -webkit-transform: translateX(-0.4vw);
    -ms-transform: translateX(-0.4vw);
    transform: translateX(-0.4vw);
    left: 16.66%; }
  .block-tools-section.block-tools-section-tablet {
    padding: 9.5% 2.9vw 1.5%; }
  .block-tools-section-tablet {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  #section-tools .hr-tablet {
    margin: 0; }
  .under-line-block {
    -webkit-box-align: end;
    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end; }
  #arrow-tools-tablet {
    position: relative;
    width: .9vw;
    margin-top: .5vh;
    -webkit-transform: translateX(-0.4vw);
    -ms-transform: translateX(-0.4vw);
    transform: translateX(-0.4vw);
    left: 16.66%; }
  .block-tools-section.block-tools-section-tablet {
    padding: 9.5% 2.9vw 1.5%; }
  .icon-camera embed {
    height: 7vw; }
  .tools-section__image p {
    margin: 0 11% 4%; }
  .outdoor-section__text {
    width: 33%;
    right: 15%; }
  .section-outdoor-professional {
    width: initial; }
  .img-div-outdoor-section__icons {
    margin: 3% 0 4%; }
  .section-contact {
    height: auto;
    min-height: auto; }
  .client-contact-list .client-contact-list__text p {
    margin-bottom: 0; } }

/* iPad mini, normal, Pro (small) */
@media (min-width: 825px) and (max-width: 1112px) and (orientation: landscape) {
  h1 {
    font-size: 10.1vw;
    line-height: 9.6vw; }
  h2 {
    font-size: 5.7vw; }
  h3 {
    font-size: 1.9vw; }
  h6 {
    font-size: 1vw; }
  p {
    font-size: 1.1vw;
    line-height: 1.9vw;
    font-size: 1.1vw;
    line-height: 1.9vw; }
  .nav-icon .cross-icon {
    margin-left: 1.3px;
    width: 1.6vw; }
  .job-text-center {
    font-size: .9vw;
    margin: 3px 1px 0 5px; }
  h2 {
    font-size: 5.7vw; }
  .menuToggle input, #menuToggle-mobile input {
    width: 3vw;
    height: 5.4vh; }
  .whole-text-left-logo {
    -webkit-animation: none;
    animation: none;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    opacity: 1; }
  #menu {
    margin: -5vw 0 0 -11vw; }
  .video-references {
    min-height: 80vh;
    height: 81vh; }
  .text-near-dots {
    font-size: 1.1vw;
    width: 70%;
    line-height: 1.1vw; }
  .text-dots-block {
    margin-bottom: 5%; }
  .text-over-progress h6 {
    font-size: .77vw; }
  .photo-man-section-about {
    width: 55%; }
  .whole-text-section-about {
    padding: 20% 10% 4% 4%;
    width: 45%; }
  .job-section-about-producer {
    letter-spacing: -3px; }
  h6 {
    font-size: 1vw; }
  h3 {
    font-size: 1.9vw; }
  .logo-client-list object {
    min-width: 7.2vw; }
  .jobs-section-about {
    font-size: 1.2vw;
    letter-spacing: .3vw; }
  .first-sentence-section-about {
    letter-spacing: 1.2px;
    font-size: 1vw; }
  .aka-name-section-about {
    font-size: .7vw; }
  .over-line-block {
    padding-right: 10%; }
    .over-line-block .text-under-tittles-section-tools {
      padding: 1.4% 0;
      font-size: 1.1vw;
      line-height: 1.9vw; }
  .text-under-img-section-tools {
    font-size: .85vw;
    line-height: 1.56vw; }
  h1 {
    font-size: 10.1vw;
    line-height: 9.6vw;
    letter-spacing: -1.2px; }
  .tittles-section-tools {
    line-height: 2.4vw;
    font-size: 2vw; }
  .large-tittle-section-tools {
    margin-top: -2px; }
  .tittles-margin-section-tools {
    margin-top: .7vh; }
  .under-line-block .img-under-line-block embed, .img-under-line-block object {
    min-width: 11.4vw;
    max-width: 13.2vw;
    margin-top: 5%; }
  .icon-movi object {
    height: 6vw;
    margin-top: 2%; }
  .outdoor-section-block button span, .under-line-block .block-tools-section button span {
    font-size: 1vw;
    line-height: 1.3vw; }
  .section-instagram-followers span {
    font-size: 2.1vw; }
  .section-instagram-followers a {
    font-size: .7vw;
    line-height: .4vw; }
  .arrow-down-icon {
    padding: 0 2vw .8vw; }
  .outdoor-section-block {
    padding: 9.5% 4vw 1.5%; }
  .outdoor-section__image .numberCircle {
    font-size: 1.08vw;
    width: 2.5vw;
    height: 2.5vw;
    border: .23vw #f0f2f2 solid; }
  .outdoor-section__image.icon-travel {
    padding: .6vw 5.5vw 0; }
  .outdoor-section__image.icon-outdoor, .outdoor-section__image.icon-safety {
    padding: .4vw 5.5vw 0; }
  .icon-alpinizm embed, .icon-surf embed {
    width: 2.75vw; }
  .icon-paraglide embed {
    width: 2.45vw; }
  .icon-ski embed {
    width: 2vw; }
  .outdoor-section__image p {
    font-size: .95vw; }
  .outdoor-section hr {
    padding-bottom: 1vh;
    margin: 0 2.8vw; }
  #arrow-skills {
    width: .9vw; }
  .outdoor-section-block button span .section-instagram-followers embed, .outdoor-section__image p .section-instagram-followers embed {
    width: 2.1%;
    min-width: 19px; }
  .hover-location .location {
    width: 2vw;
    height: 2vw;
    margin-bottom: .1vw; }
  .section-instagram__photo .location embed {
    width: 1.6vw; }
  .section-instagram__photo .hover-location span {
    font-size: .9vw; }
  .client-contact-list__text p {
    font-size: 2vw;
    line-height: .6vw; }
  .client-contact-list__quote p {
    font-size: 1.2vw;
    letter-spacing: .06vw; }
  .client-contact-list__email a {
    letter-spacing: .3vw;
    font-size: 3.1vw; }
  .client-contact-list__social {
    letter-spacing: .003vw; }
  .client-contact-list__img {
    width: 3.6vw; }
  .client-contact-list__social--icon {
    font-size: .9vw;
    margin-bottom: .9vw; }
  .footer-client p {
    letter-spacing: .04vw;
    font-size: .66vw; }
  .footer-client span {
    letter-spacing: .25vw;
    font-size: 1.4vw;
    line-height: 1.2vw; }
  .client-contact-list__social--icon.audio embed {
    width: 2.1vw;
    height: 1.55vw; }
  .client-contact-list__social--icon.instagram embed {
    width: 2.6vw;
    height: 1.44vw; }
  .client-contact-list__social--icon.telephone embed {
    width: 3vw;
    height: 1.38vw; }
  .footer-section img {
    width: 2.8vw; }
  .section-instagram-followers a {
    height: 1.3vh; }
  #section-about.section {
    height: auto; } }

/* iPad Pro (Big) */
@media only screen and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  p {
    font-size: 1.1vw;
    line-height: 1.9vw; }
  .job-text-center {
    font-size: 1vw;
    letter-spacing: 7px;
    margin: 5px 1px 0 5px; }
  .lines-job-text-center {
    font-size: 2.2vw; }
  h2 {
    font-size: 5.7vw; }
  .jobs-section-about {
    font-size: 1.2vw;
    letter-spacing: .3vw; }
  .job-section-about-producer {
    letter-spacing: -3px; }
  h6 {
    font-size: 1vw; }
  h3 {
    font-size: 1.9vw; }
  h1 {
    font-size: 10.1vw;
    line-height: 9.6vw;
    letter-spacing: -1.2px; }
  .nav-icon .cross-icon {
    margin-left: 2.5px;
    width: 1.5vw; }
  .logo-client-list object {
    min-width: 7.2vw; }
  #menuToggle input, #menuToggle-mobile input {
    width: 3vw;
    height: 5.4vh; }
  #menu {
    margin: -5vw 0 0 -11vw; }
  .text-dots-block {
    margin-bottom: 5%; }
  .section-instagram-followers a {
    height: 1.3vh; }
  .whole-text-left-logo {
    -webkit-animation: none;
    animation: none;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    opacity: 1; }
  .text-near-dots {
    font-size: 1.1vw;
    width: 70%;
    line-height: 1.1vw; }
  .video-references {
    min-height: 80vh;
    height: 81vh; }
  .text-over-progress h6 {
    font-size: .77vw; }
  .photo-man-section-about {
    width: 55%; }
  .whole-text-section-about {
    padding: 20% 11% 4% 1%;
    width: 45%; }
  .first-sentence-section-about {
    letter-spacing: 1.2px;
    font-size: 1vw; }
  .aka-name-section-about {
    font-size: .7vw; }
  #section-about.section {
    height: auto; }
  .over-line-block {
    padding-right: 10%; }
  .large-tittle-section-tools {
    margin-top: -2px; }
  .text-under-tittles-section-tools {
    font-size: 1.1vw;
    line-height: 1.9vw; }
  .over-line-block .text-under-tittles-section-tools {
    padding: 1.4% 0; }
  .text-under-img-section-tools {
    font-size: .85vw;
    line-height: 1.56vw; }
  .tittles-section-tools {
    line-height: 2.4vw;
    font-size: 2vw; }
  .under-line-block .img-under-line-block embed, .img-under-line-block object {
    min-width: 11.4vw;
    max-width: 13.2vw;
    margin-top: 5%; }
  .icon-movi object {
    height: 6vw;
    margin-top: 2%; }
  .block-tools-section-tablet {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .block-tools-section.block-tools-section-tablet {
    padding: 9.5% 2.9vw 1.5%; }
  #section-tools .hr-tablet {
    margin: 0; }
  .under-line-block {
    -webkit-box-align: end;
    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end; }
  .icon-dji, .icon-movi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .outdoor-section hr {
    padding-bottom: 1vh;
    margin: 0 2.5vw; }
  #arrow-skills {
    width: .9vw; }
  #arrow-tools-tablet {
    position: relative;
    margin-top: .8vh;
    width: .9vw;
    -webkit-transform: translateX(-0.4vw);
    -ms-transform: translateX(-0.4vw);
    transform: translateX(-0.4vw);
    left: 16.66%; }
  .outdoor-section__text {
    width: 33%;
    right: 16%; }
  .outdoor-section-block button span, .block-tools-section button span {
    font-size: .9vw;
    line-height: 1.6vw; }
  .section-instagram-followers span {
    font-size: 2.1vw; }
  .section-instagram-followers a {
    font-size: .7vw;
    line-height: .4vw; }
  .outdoor-section-block {
    padding: 9.5% 4vw 1.5%; }
  .outdoor-section__image .numberCircle {
    font-size: 1.08vw;
    width: 2.5vw;
    height: 2.5vw;
    border: .23vw #f0f2f2 solid; }
    .outdoor-section__image .numberCircle + p {
      padding-top: .7vw; }
  .outdoor-section__image.icon-travel {
    padding: .8vw 5.6vw 0; }
  .outdoor-section__image.icon-outdoor, .outdoor-section__image.icon-safety {
    padding: .4vw 5.8vw 0; }
  .icon-alpinizm embed, .icon-surf embed {
    width: 2.75vw; }
  .icon-paraglide embed {
    width: 2.45vw; }
  .icon-ski embed {
    width: 2vw; }
  .outdoor-section__image p {
    font-size: .95vw; }
  .section-instagram-followers embed {
    width: 2%;
    min-width: 19px; }
  .hover-location .location {
    width: 2vw;
    height: 2vw;
    margin-bottom: .1vw; }
  .section-instagram__photo .location embed {
    width: 1.6vw; }
  .section-instagram__photo .hover-location span {
    font-size: .9vw; }
  .arrow-down-icon {
    padding: 0 2vw .8vw; }
  /*contact-section */
  .client-contact-list__text p {
    font-size: 2vw;
    line-height: .6vw; }
  .client-contact-list__quote p {
    font-size: 1.2vw;
    letter-spacing: .06vw; }
  .client-contact-list__email a {
    letter-spacing: .3vw;
    font-size: 3.1vw; }
  .client-contact-list__social {
    letter-spacing: .003vw; }
  .client-contact-list__img {
    width: 3.6vw; }
  .client-contact-list__social--icon {
    font-size: .9vw;
    margin-bottom: .9vw; }
  .footer-client p {
    letter-spacing: .04vw;
    font-size: .66vw; }
  .footer-client span {
    letter-spacing: .25vw;
    font-size: 1.4vw;
    line-height: 1.2vw; }
  .client-contact-list__social--icon.audio embed {
    width: 2.1vw;
    height: 1.55vw; }
  .client-contact-list__social--icon.instagram embed {
    width: 2.6vw;
    height: 1.44vw; }
  .client-contact-list__social--icon.telephone embed {
    width: 3vw;
    height: 1.38vw; }
  .footer-section img {
    width: 2.8vw; } }
