//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900')
@font-face
  font-family: ProximaNova
  src: url(../fonts/ProximaNova-Light.ttf)


//VARIABLES
$primary-color: #3d3c37
$primary-font: 'Montserrat', sans-serif
$secondary-font: ProximaNova

//General

h1
  font-size: 115px
  line-height: 80px

h2
  font-size: 72px
  letter-spacing: 2px

h3
  font-size: 24px


h1, h2, h3, h5, h6
  font-weight: 700
  font-family: $primary-font
  text-transform: uppercase

p
  font-size: 12px
  font-family: $secondary-font
  line-height: 22px

.video-references
  position: absolute
  top: 0
  height: auto
  width: 100%
  z-index: -1

.video-section
  position: relative
  height: 100%

.section
  height: 100vh
  overflow: hidden

::-webkit-scrollbar
  width: 0
  background: transparent

//General

#first-section
  height: 100vh
  overflow: hidden

#section-banner
  height: 82%
  overflow: hidden

.inner-content-section-banner
  padding: 0 4%

/*SECTION BANNER*/

.left-logo-banner-section embed
  width: 4%

.text-center-banner-section
  height: 69vh
  display: flex
  justify-content: center
  align-items: center
  float: left
  width: 99%

.dots-block-section-banner
  width: 12%
  float: left
  height: 69vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: absolute
  top: 0
  bottom: 0
  right: 0
  z-index: 101
  margin-top: 5%

.dot-section-banner
  height: 7px
  width: 7px
  background-color: white
  border: 1px white solid
  border-radius: 50%
  margin: 7px 0
  transition: 0.3s
  cursor: pointer

.dot-section-banner:hover
  background: transparent
  transform: scale(1.8)

.text-near-dots, .text-dots-block embed
  opacity: 0

//.dots-block-section-banner:hover .text-near-dots, .dots-block-section-banner:hover .text-dots-block embed
//  opacity: 1

.text-near-dots , .text-dots-block embed
  transition: 0.3s

.text-dots-block embed

  transform: rotate(90deg)

.text-dots-block
  display: flex
  align-items: center
  justify-content: flex-start
  width: 85%
  cursor: pointer

.text-dots-block embed
  width: 10px
  margin: 0 7% 0 5%
  pointer-events: none

.text-near-dots
  color: snow
  font-size: 8px
  width: 40%
  text-align: right
  cursor: pointer

.job-text-center
  font-family: $primary-font
  text-transform: uppercase
  color: snow
  margin: 2px 5px
  font-size: 9px
  letter-spacing: 4px


.lines-job-text-center
  font-family: $primary-font
  color: snow
  font-size: 20px
  font-weight: 300

.text-left-logo
  font-family: $primary-font
  text-transform: uppercase
  color: snow
  margin: 2px 0
  font-size: 10px
  letter-spacing: 4px
  line-height: 11px

.surname-text-left-logo
  opacity: 0.7
  font-weight: 300

.left-logo-banner-section
  display: flex
  align-items: center
  margin-top: 30px

.whole-text-left-logo
  flex-direction: column
  margin-left: 10px

.arrow-down-section-banner
  display: flex
  justify-content: center
  margin-bottom: 5%

.arrow-down-section-banner embed
  width: 1.5%
  cursor: pointer



//hamburger menu
.hamburger-menu-banner-section
  display: flex
  justify-content: flex-end
.hamburger-menu-banner-section a
  text-decoration: none
  color: #232323
  transition: color 0.3s ease

.hamburger-menu-banner-section a:hover
  color: tomato

#menuToggle
  display: block
  position: relative
  top: 35px
  z-index: 1
  -webkit-user-select: none
  user-select: none

#menuToggle input
  display: block
  width: 40px
  height: 32px
  position: absolute
  top: -7px
  left: -5px
  cursor: pointer
  opacity: 0
  z-index: 2
  -webkit-touch-callout: none

#menuToggle span
  display: block
  width: 33px
  height: 4px
  margin-bottom: 5px
  position: relative
  background: #ffffff
  border-radius: 3px
  z-index: 1
  transform-origin: 4px 0px
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
  background: 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
  opacity: 0.55s ease


#menuToggle span:first-child
  transform-origin: 0% 0%

#menuToggle span:nth-last-child(2)
  transform-origin: 0% 100%

#menuToggle input:checked ~ span
  opacity: 1
  transform: rotate(45deg) translate(-2px, -1px)
  background: white

#menuToggle input:checked ~ span:nth-last-child(3)
  opacity: 0
  transform: rotate(0deg) scale(0.2, 0.2)

#menuToggle input:checked ~ span:nth-last-child(2)
  transform: rotate(-45deg) translate(0, -1px)

#menu
  position: absolute
  width: 300px
  height: 100vh
  margin: -100px 0 0 -150px
  padding: 50px
  padding-top: 125px
  background: $primary-color
  list-style-type: none
  -webkit-font-smoothing: antialiased
  transform-origin: 0% 0%
  transform: translate(100%, 0)
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)

#menu li
  padding: 10px 0
  font-size: 22px

#menuToggle input:checked ~ ul
  transform: none
//hamburger menu

/*SECTION BANNER*/



/*SECTION LOGOS*/
#section-logos
  background-color: $primary-color
  display: flex
  align-items: center
  position: relative
  height: 140px

#section-logos .row
  display: flex
  align-items: center
  justify-content: space-between
  padding-top: 1%

.logo-client-list embed
  min-width: 120px
  max-width: 160px
  min-height: 30px
  max-height: 65px

.logo-client-list-bbc embed, .logo-client-list-ecco embed, .logo-client-list-nrs embed
  min-width: 100px
  max-width: 110px

.logo-client-list
  text-align: center

/*SECTION LOGOS*/

/*SECTION about*/
#section-about
  background-image: url("../img/section-about/grain_texture.jpg")
  color: $primary-color
  font-family: $primary-font
  overflow: hidden
#section-about .row
  display: flex
  align-items: flex-end

.photo-man-section-about
  display: flex
  align-items: flex-end
  justify-content: center
  margin-right: 70px
  padding-left: 0

.img-photo-man-section-about
  width: 190%

.whole-text-section-about
  margin-left: 50px
  margin-top: -10%
  padding: 0 50px

.first-sentence-section-about
  letter-spacing: 1px
  margin-bottom: 0


.jobs-section-about
  margin-left: 3px
  letter-spacing: 3px

.now-section-about
  margin-top: 30%
  margin-bottom: 40px

.tittle-section-about
  margin-top: 25px

.tittle-section-about-margin
  margin-top: 20%

#section-about p
  text-transform: initial
  color: #4b4b56
  margin-bottom: 15px

.aka-name-section-about
  font-style: italic
  font-size: 8px
  font-family: $secondary-font
  text-transform: initial
  margin-bottom: 30px

.stuff-section-about
  margin-top: 17%

.text-bottom-section-about
  margin-bottom: 10%

//Progress

.progress-bar
  background: #8a8b8e
  border-radius: 0
  height: 7px
  width: 100%

.progress-bar:after
  content: ''
  display: block
  background: #2c2e31
  height: 100%
  border-radius: 0

.progress-bar-94:after
  width: 94%

.progress-bar-79:after
  width: 79%

.progress-bar-87:after
  width: 87%

.progress-bar-67:after
  width: 67%

.progress-bar-82:after
  width: 82%

.text-over-progress
  display: flex
  justify-content: space-between

.text-over-progress h6
  font-weight: 700
  font-size: 11px
  margin-bottom: 6px

.progress-section
  margin-bottom: 25px

//Progress
//Section About

//Section tools
#section-tools
  height: 100vh
  overflow: hidden

.gray-half-section-tools
  background: $primary-color
  height: 100vh
  padding: 3% 9%
  text-transform: uppercase
  font-family: $primary-font
  color: white


.photo-half-section-tools
  height: 100vh
  background-image: url("../img/section-tools/red_camera.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.tittles-section-tools
  font-weight: 700
  line-height: 25px
  margin-left: 7px

.large-tittle-section-tools
  margin: 0

.text-under-tittles-section-tools
  text-transform: initial
  opacity: 0.8
  margin-left: 7px

.tittles-margin-section-tools
  margin-bottom: 50px

#section-tools hr
  border: 1.1px solid #eee
  width: 100%
  margin-top: 15%

.under-line-block
  display: flex
  flex-direction: column
  align-items: center

.under-line-block embed
  width: 3%

.over-line-block
  padding-right: 15%
.img-under-line-block, .text-under-img-section-tools
  text-align: center

.under-line-block .img-under-line-block embed
  width: 45%
  margin: 7% 0 7% -5%

.text-under-img-section-tools
  padding: 0 15%
//Section tools

/*Outdoor section*/

.outdoor-section
  position: relative
  height: 100vh
  display: flex
  align-items: center
  overflow: hidden

.outdoor-section__text
  width: 30%
  text-align: right
  position: absolute
  right: 10%
  z-index: 1
  overflow: hidden
  top: 50%
  transform: translateY(-50%)

.outdoor-section__text
  font-family: $primary-font
  color: #ffffff

.outdoor-section__text--header h2
  margin: 0
  text-align: right

.outdoor-section__text--header h3
  margin: 0 0 25px 0
  text-align: right

.outdoor-section__text--main
  display: flex
  flex-direction: column
  text-align: right

.outdoor-section__text--main p
  margin: 30px 0px 10px 0px

.outdoor-section-block
  display: flex
  padding: 10% 9% 3% 9%
  text-align: center

.outdoor-section__travel
  padding: 0

.outdoor-section-block button
  border: none
  background: none

.outdoor-section hr
  border: none
  border-top: 2px solid #ffff
  margin: 0
  padding-bottom: 10px

.outdoor-section__text
  text-align: center
  font-family: $secondary-font

.outdoor-section button
  overflow: hidden

.outdoor-section__image
  padding: 3% 15% 0 15%

.outdoor-section__text embed
  width: 10px

.outdoor-section__image embed
  width: 40px
  height: 35px

.outdoor-section__image p
  text-align: center
  padding-top: 10px

.outdoor-section
  text-align: center

.outdoor-section__item
  text-align: center

.section-outdoor-professional
  position: absolute
  top: 0
  height: auto
  width: 100%

.outdoor-section__image img
  width: 100%
/*Outdoor section*/

/*section instagran*/
.section-instagram
  height: 100vh

.section-instagram-followers
  font-family: $primary-font
  background-color: $primary-color
  color: #ffffff
  padding: 50px
  font-weight: bold

.section-instagram-followers span
  font-size: 18px
  vertical-align: middle

.section-instagram-followers a
  color: #ffffff
  text-transform: uppercase
  font-size: 14px
  display: block

.section-instagram
 overflow: hidden

.section-instagram__photo
  padding: 0px

.section-instagram__photo img
  width: 100%
/*section instagran*/

/*section contact*/
#section-contact
  overflow: hidden
  height: 100vh
#section-contact .row
  display: flex

.client-contact-list
  background-color: #f0f2f6
  width: 50%
  padding: 6% 0 3% 9%
  font-family: $primary-font
  text-transform: uppercase
  font-weight: bold

.client-contact-list__text p
  font-size: 16pt
  margin-left: 10px
  font-family: $primary-font
  font-weight: bold

.client-contact-list__text h1
  display: block
  margin: 0

.client-contact-list__center-arrow
  text-align: center
  width: 92px
  padding: 40px 0 25px 0

.client-contact-list__center-arrow embed
  width: 15px

.client-contact-list__quote p
  font-family: $primary-font
  margin: 4px
  padding: 2px
  font-size: 14px

.client-contact-list__social
  padding-top: 15px

.client-contact-list__email
  position: relative

.client-contact-list__email a
  display: inline-block
  padding: 90px 0px
  color: $primary-color
  text-transform: lowercase
  letter-spacing: 1px
  text-decoration: underline
  font-size: 24pt

.client-contact-list__email--triangle-left
  height: 0
  border-top: 5px solid transparent
  border-right: 5px solid #e7bf5d
  border-bottom: 5px solid transparent
  position: absolute
  top: 110px
  right: 0

.client-contact-list__social a
  font-size: 12px
  font-weight: 600
  text-decoration: underline
  color: $primary-color

.client-contact-list__social span
  font-weight: 600
  font-size: 12px

.client-contact-list__social--icon
  margin: 0
  font-size: 12px
  text-transform: lowercase

.client-contact-list__social--icon embed
  vertical-align: middle
  width: 30px
  height: 30px

.client-contact-list__social--icon.audio a
  text-transform: uppercase
  letter-spacing: 1px

.client-contact-list__social embed
  width: 40px
  padding: 5px 15px 5px 5px

.client-contact-list-img
  background-image: url("../img/contact-section/phone.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  width: 50%
  padding: 0
  height: 100vh

//.client-contact-list-img img
//  width: 100%
//  height: 100vh
/*section contact*/



/*footer*/
.footer-section
  background-color: $primary-color
  color: #ffffff
  padding: 20px 0 40px 0
  font-weight: 600

.footer-client
  padding: 5px
  text-transform: uppercase
  text-align: center
  line-height: 10px
  font-family: $primary-font

.footer-client p
  font-size: 8pt
  padding-top: 20px
  letter-spacing: 1px

.footer-client span
  font-size: 16pt
  letter-spacing: 3px
  line-height: 6px

.footer-section img
  display: block
  margin:  0 auto
  width: 75px

/*footer*/